page-emotion {
   .list-header-ios{
        background: #F2F2F2;
    }

    .label-ios{
        margin: 20px 8px 20px 0;
    }

    .traps{
      padding: 20px 0 20px 0;  
      background: #F2F2F2;
    }
}
