<!--
  Generated template for the EmotionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>emotion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="!showTraps">
    <img src="{{ emotion }}" alt="" style="">
    <ion-item text-center>
      <h2>Your Feelings of this day!</h2>
      <p>{{ desc }}</p>
    </ion-item>

    <ion-list style="margin-bottom: 0;">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ faceImg }}">
        </ion-avatar>
        <ion-row>
          <ion-col>
            <p>Anger</p>
            <h3>{{ anger }}</h3>
          </ion-col>
          <ion-col>
            <p>Neutral</p>
            <h3>{{ neutral }}</h3>
          </ion-col>
          <ion-col>
            <p>Happy</p>
            <h3>{{ happy }}</h3>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>


    <ion-row justify-content-center class="traps" text-center padding style="margin-bottom: 20px;">
      <h5>We have analyzed your description of the moment and the emotion is</h5>
      <p>{{ descEmotion }}</p><br />
      <ion-col col-4>
        <button ion-button block outline color="primary" (click)="seeTrapsSuggestions()">Suggestions</button>
      </ion-col>    
      </ion-row>

    <ion-list style="margin-bottom: 0;">
      <ion-list-header>
        Your Thinking Traps
      </ion-list-header>

      <ion-item *ngFor="let trap of traps; let i = index">
        <ion-avatar item-start>
          <img src="http://i.imgur.com/GRCAOQJ.png">
        </ion-avatar>
        <h2>{{ trap.title }}</h2>
        <p>{{ trap.desc }}</p>
      </ion-item>
    </ion-list>


    <ion-row justify-content-center class="traps">
      <ion-col col-4>
        <button ion-button block outline color="primary">Add Trap</button>
      </ion-col>
      <ion-col col-4>
        <button ion-button block outline color="primary" (click)="seeTrapsSuggestions()">Suggestions</button>
      </ion-col>
    </ion-row>
  </div>

  <ion-slides *ngIf="showTraps" pager>
    <ion-slide padding *ngFor="let trap of traps; let i = index">
      <h3>{{trap.title}}</h3>
      <p>{{trap.desc}}</p>
      <ion-row justify-content-center>
        <ion-col col-5>
          <button ion-button outline large color="light" (click)="closeTraps()"> Back to Emotion </button>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>


</ion-content>