.hide-tabs {
    display: none!important;
}

page-intro {

    img {
        margin-bottom: 40px;
    }

    h5 {
        color: $primary;
    }
    p {
        font-weight: 100;
        font-size: 15px;
    }

    .button {
        margin-top: 40px;
    }
}
